@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
<title>Menu des pizzas</title>
<link rel="stylesheet" href="~/css/style.css" />
</head>
<body class="body_home">
<div class="home">
 <img src="images/main_logo.png" />


<a class="lien" asp-page="MenuPizzas"> Voir le menu</a>

 
</div>
</body>
</html>

